<footer class="page-content">
  <div class="checker-line"></div>
  <div class="footer">
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://codepen.io/alisaliso"
    >
      <img
        src="/assets/images/codepen_pixel.svg"
        alt="Alisaliso codepen profile"
        class="footer__icon"
      />
    </a>
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="mailto:alisaliso.com@gmail.com"
    >
      <img
        src="/assets/images/email_pixel.svg"
        alt="Alisaliso email"
        class="footer__icon"
      />
    </a>
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://gitlab.com/AlisaLiso"
    >
      <img
        src="/assets/images/gitlab_pixel.svg"
        alt="Alisaliso gitlab profile"
        class="footer__icon"
      />
    </a>
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://github.com/AlisaLiso"
    >
      <img
        src="/assets/images/github_pixel.svg"
        alt="Alisaliso github profile"
        class="footer__icon"
      />
    </a>
  </div>
</footer>
