<header class="site-header">
  <div class="wrapper page-content">
    <div class="site-title">alisaliso</div>
    <nav>
      <ul>
        <li>
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="mailto:alisaliso.com@gmail.com"
          >
            email
          </a>
        </li>
        <li>
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://github.com/AlisaLiso"
          >
            github
          </a>
        </li>
        <li>
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://gitlab.com/AlisaLiso"
          >
            gitlab
          </a>
        </li>

        <li>
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://codepen.io/alisaliso"
          >
            codepen
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
