<head>
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1"
  />

  <!-- CSS -->
  <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}" />
  <link
    href="https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,700;0,800;1,700&display=swap"
    rel="stylesheet"
  />
  <!--Favicon-->
  <link
    rel="shortcut icon"
    href="{{ site.favicon | relative_url }}"
    type="image/x-icon"
  />

  <!-- Twitter Cards -->
  <meta
    name="twitter:title"
    content="{% if page.title %}{{ page.title }}{% else %}{{ site.theme_settings.title }}{% endif %}"
  />
  <meta
    name="twitter:description"
    content="{{ page.content | strip_html | strip_newlines | truncate: 160 }}"
  />
  {% if site.theme_settings.twitter %}
  <meta name="twitter:creator" content="@{{ site.theme_settings.twitter }}" />
  {% endif %}
  <meta
    name="twitter:card"
    content="{% unless page.thumbnail %}summary{% else %}summary_large_image{% endunless %}"
  />
  <meta
    name="twitter:image"
    content="{{ '/' | absolute_url }}{% if page.thumbnail %}{{ page.thumbnail }}{% else %}{{ page.feature-img | default: site.header_feature_image }}{% endif %}"
  />
</head>
