<head>
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1"
  />
  <title>Alexandra | Front-end developer</title>
  <!-- CSS -->
  <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}" />
  <link
    href="https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,700;0,800;1,700&display=swap"
    rel="stylesheet"
  />

  <!--Favicon-->
  <link rel="shortcut icon" href="favicon.png" type="image/x-icon" />

  <!-- Twitter Cards -->
  <meta name="twitter:title" content="{{ site.title }}" />
  <meta name="twitter:description" content="{{ site.description }}" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:image" content="https://alisaliso.com/twitter.png" />
</head>
