<section>
  <h1 class="section__title colors__secondary_dark">Projects</h1>
  <div class="grid">
    <div class="section__table">
      <p>
        I&nbsp;love learning something new that complements and expands
        my&nbsp;frontend skills.
      </p>
      <p>
        I&nbsp;am interested in&nbsp;the entire frontend spectrum,
        in&nbsp;working with positive people and see projects through
        to&nbsp;their completion.
      </p>
    </div>
    <div>
      <div class="row">
        <h4 class="row__title">
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://vocab10k.com"
            >Vocab10k</a
          ><span> English Learning Website</span>
        </h4>
        <div class="row__date">Mar, 2018 — Jan, 2020</div>
        <div class="row__text">
          Designed and developed website single-handedly for learning English
          words with flashcards, definitions were from Oxford Dictionary API,
          and training British pronunciation with help of LibriVox acoustical
          liberation of books.
        </div>
        <div class="row__labels">
          <div class="label">HTML</div>
          <div class="label">SCSS</div>
          <div class="label">React</div>
          <div class="label">MobX</div>
          <div class="label">Babel</div>
          <div class="label">Axios</div>
          <div class="label">ESLint</div>
          <div class="label">Webpack</div>
          <div class="label">Docker</div>
        </div>
      </div>

      <div class="row">
        <h4 class="row__title">
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://chrome.google.com/webstore/detail/vocab10k-extension/okbblgllcocpboadpieibbpejjffbonn?hl=en"
            >Vocab10k Chrome</a
          ><span> Extension</span>
        </h4>
        <div class="row__date">May, 2018 — Oct, 2019</div>
        <div class="row__text">
          Made with React and built with Webpack extension for looking up words
          definition and adding it into your profile dictionary at Vocab10k.com.
        </div>
        <div class="row__labels">
          <div class="label">HTML</div>
          <div class="label">SCSS</div>
          <div class="label">React</div>
          <div class="label">Babel</div>
          <div class="label">Axios</div>
          <div class="label">Eslint</div>
          <div class="label">Yarn</div>
          <div class="label">Webpack</div>
          <div class="label">Docker</div>
        </div>
      </div>

      <div class="row">
        <h4 class="row__title">
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://addons.mozilla.org/en-US/firefox/addon/vocab10k-extension/"
            >Vocab10k Firefox</a
          ><span> Extension</span>
        </h4>
        <div class="row__date">Oct, 2019 — Nov, 2019</div>
        <div class="row__text">
          Made with React and built with Webpack extension for looking up words
          definition and adding it into your profile dictionary at Vocab10k.com.
        </div>
        <div class="row__labels">
          <div class="label">HTML</div>
          <div class="label">SCSS</div>
          <div class="label">React</div>
          <div class="label">Babel</div>
          <div class="label">Axios</div>
          <div class="label">ESLint</div>
          <div class="label">Yarn</div>
          <div class="label">Webpack</div>
          <div class="label">Docker</div>
        </div>
      </div>

      <div class="row">
        <h4 class="row__title">
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://github.com/AlisaLiso/chessclock"
            >Chess Clock</a
          ><span> Website</span>
        </h4>
        <div class="row__date">Aug, 2020</div>
        <div class="row__text">
          Site for timing offline chess game with time settings for each player.
          It's a good practice for manipulating DOM and styles with javascript.
        </div>
        <div class="row__labels">
          <div class="label">HTML</div>
          <div class="label">CSS</div>
          <div class="label">Github Pages</div>
        </div>
      </div>

      <div class="row">
        <h4 class="row__title">
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://github.com/AlisaLiso/tictactoe"
            >Tic Tac Toe</a
          ><span> Browser game</span>
        </h4>
        <div class="row__date">Oct, 2020</div>
        <div class="row__text">
          A responsive browser game with a light/dark theme switch and winner
          confetti animation.
        </div>
        <div class="row__labels">
          <div class="label">React</div>
          <div class="label">styled-components</div>
          <div class="label">parcel</div>
          <div class="label">Github Pages</div>
        </div>
      </div>

      <div class="row">
        <h4 class="row__title">
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://github.com/AlisaLiso/todo-tracker"
            >TodoTraker</a
          ><span> Website</span>
        </h4>
        <div class="row__date">Jul, 2020</div>
        <div class="row__text">
          Basic todo manager made for learning Vue.js framework purposes. It's a
          very intuitive framework and a good choice for small scale projects.
        </div>
        <div class="row__text">
          The interesting part was using css framework nes.css. It was far
          quicker to develop the project that way and the author already dealt
          with browser issues.
        </div>
        <div class="row__labels">
          <div class="label">Vue</div>
          <div class="label">Moment</div>
          <div class="label">nes.css</div>
          <div class="label">npm</div>
          <div class="label">Docker</div>
        </div>
      </div>

      <div class="row">
        <h4 class="row__title">
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://github.com/AlisaLiso/rick-and-morty-typing-game"
            >Rick and Morty typing game</a
          ><span> Browser game</span>
        </h4>
        <div class="row__date">Jul, 2020</div>
        <div class="row__text">
          Browser game when you need to choose one right answer out of four
          based on characters picture Next.js. I found an open API of Rick and
          Morty characters and wanted to create a game based on it.
        </div>
        <div class="row__text">
          The interesting part was forming questions. One question required to
          have a guessing character and an answers array with three random
          characters and correct answer put in a mixed order every time. Being
          able to do it with only three lines of code is so powerful.
        </div>
        <div class="row__labels">
          <div class="label">Next</div>
          <div class="label">SASS</div>
          <div class="label">npm</div>
          <div class="label">Docker</div>
          <div class="label">rickmortyapi</div>
          <div class="label">Netlify</div>
        </div>
      </div>
    </div>
  </div>
</section>
