<section>
  <div class="section__table grid">
    <div>
      <h1 class="section__title">Projects</h1>
      <p>
        I&nbsp;love learning something new that complements and expands
        my&nbsp;frontend skills.
      </p>
      <p>
        I&nbsp;am interested in&nbsp;the entire frontend spectrum,
        in&nbsp;working with positive people and see projects through
        to&nbsp;their completion.
      </p>
    </div>
    <div>
      <div class="row">
        <h4 class="row__title">
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://vocab10k.com"
            >Vocab10k</a
          ><span> English Learning Website</span>
        </h4>
        <div class="row__date">Mar, 2018 — Jan, 2020</div>
        <div class="row__text">
          Designed and developed website single-handedly for learning English
          words with flashcards, definitions were from Oxford Dictionary API,
          and training British pronunciation with help of LibriVox acoustical
          liberation of books.
        </div>
        <div class="row__labels">
          <div class="label label__lightpink">html</div>
          <div class="label label__orange">scss</div>
          <div class="label label__blue">react</div>
          <div class="label label__purple">mobx</div>
          <div class="label label__lightgreen">babel</div>
          <div class="label label__gray">axios</div>
          <div class="label label__yellow">eslint</div>
          <div class="label label__brown">webpack</div>
          <div class="label label__cian">docker</div>
        </div>
      </div>

      <div class="row">
        <h4 class="row__title">
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://chrome.google.com/webstore/detail/vocab10k-extension/okbblgllcocpboadpieibbpejjffbonn?hl=en"
            >Vocab10k Chrome</a
          ><span> Extension</span>
        </h4>
        <div class="row__date">May, 2018 — Oct, 2019</div>
        <div class="row__text">
          Made with React and built with Webpack extension for looking up words
          definition and adding it into your profile dictionary at Vocab10k.com.
        </div>
        <div class="row__labels">
          <div class="label label__lightpink">html</div>
          <div class="label label__orange">scss</div>
          <div class="label label__blue">react</div>
          <div class="label label__lightgreen">babel</div>
          <div class="label label__gray">axios</div>
          <div class="label label__yellow">eslint</div>
          <div class="label label__red">yarn</div>
          <div class="label label__brown">webpack</div>
          <div class="label label__cian">docker</div>
        </div>
      </div>

      <div class="row">
        <h4 class="row__title">
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://addons.mozilla.org/en-US/firefox/addon/vocab10k-extension/"
            >Vocab10k Firefox</a
          ><span> Extension</span>
        </h4>
        <div class="row__date">Oct, 2019 — Nov, 2019</div>
        <div class="row__text">
          Made with React and built with Webpack extension for looking up words
          definition and adding it into your profile dictionary at Vocab10k.com.
        </div>
        <div class="row__labels">
          <div class="label label__lightpink">html</div>
          <div class="label label__orange">scss</div>
          <div class="label label__blue">react</div>
          <div class="label label__lightgreen">babel</div>
          <div class="label label__gray">axios</div>
          <div class="label label__yellow">eslint</div>
          <div class="label label__red">yarn</div>
          <div class="label label__brown">webpack</div>
          <div class="label label__cian">docker</div>
        </div>
      </div>

      <div class="row">
        <h4 class="row__title">
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://github.com/AlisaLiso/chessclock"
            >Chess Clock</a
          ><span> Website</span>
        </h4>
        <div class="row__date">Aug, 2020</div>
        <div class="row__text">
          Site for timing offline chess game with time settings for each player.
          It's a good practice for manipulating DOM and styles with javascript.
        </div>
        <div class="row__labels">
          <div class="label label__lightpink">html</div>
          <div class="label label__orange">css</div>
          <div class="label label__yellow">github pages</div>
        </div>
      </div>

      <div class="row">
        <h4 class="row__title">
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://github.com/AlisaLiso/snakegame"
            >Snake Game</a
          ><span> Browser game</span>
        </h4>
        <div class="row__date">Aug, 2020</div>
        <div class="row__text">
          Browser game with vanilla javascript using canvas.
        </div>
        <div class="row__labels">
          <div class="label label__lightpink">html</div>
          <div class="label label__orange">css</div>
          <div class="label label__yellow">github pages</div>
        </div>
      </div>

      <div class="row">
        <h4 class="row__title">
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://github.com/AlisaLiso/todo-tracker"
            >TodoTraker</a
          ><span> Website</span>
        </h4>
        <div class="row__date">Jul, 2020</div>
        <div class="row__text">
          Basic todo manager made for learning Vue.js framework purposes. It's a
          very intuitive framework and a good choice for small scale projects.
        </div>
        <div class="row__text">
          The interesting part was using css framework nes.css. It was far
          quicker to develop the project that way and the author already dealt
          with browser issues.
        </div>
        <div class="row__labels">
          <div class="label label__blue">vue</div>
          <div class="label label__purpleoramge">moment</div>
          <div class="label label__yellowmagenta">nes.css</div>
          <div class="label label__magenta">npm</div>
          <div class="label label__cian">docker</div>
        </div>
      </div>

      <div class="row">
        <h4 class="row__title">
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://github.com/AlisaLiso/rick-and-morty-typing-game"
            >Rick and Morty typing game</a
          ><span> Browser game</span>
        </h4>
        <div class="row__date">Jul, 2020</div>
        <div class="row__text">
          Browser game when you need to choose one right answer out of four
          based on characters picture Next.js. I found an open API of Rick and
          Morty characters and wanted to create a game based on it.
        </div>
        <div class="row__text">
          The interesting part was forming questions. One question required to
          have a guessing character and an answers array with three random
          characters and correct answer put in a mixed order every time. Being
          able to do it with only three lines of code is so powerful.
        </div>
        <div class="row__labels">
          <div class="label label__purple">next</div>
          <div class="label label__orange">sass</div>
          <div class="label label__magenta">npm</div>
          <div class="label label__cian">docker</div>
          <div class="label label__purpleoramge">rickmortyapi</div>
          <div class="label label__yellow">netlify</div>
        </div>
      </div>
    </div>
  </div>
</section>
