---
---

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: #21232c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 16px;
}

*::selection {
  background: #638cf6;
  color: white;
}

a {
  text-decoration: none;
  color: #21232c;

  &:hover::before {
    content: "\21A5";
    color: #638cf6;
    position: absolute;
    left: -12px;
    transition: 0.2s;
  }

  &:hover {
    color: #638cf6;
    transition: 0.2s;
  }
}

h1 {
  margin: 0;
}

h4 {
  font-size: 22px;
  line-height: 1em;
  font-weight: 700;
  margin: 0;
}

nav {
  ul {
    margin: 0;
    padding: 0;
    display: flex;
  }

  li {
    list-style: none;
    padding: 10px;
    margin: 10px;

    a {
      font-size: 16px;
      font-weight: 500;
      transition: 0.2s;
      position: relative;
    }
  }
}

.page-content {
  width: 1048px;
  margin: 0 auto;

  @media (max-width: 1040px) {
    width: 100%;
    padding: 0 40px;
    box-sizing: border-box;
  }
}

.site-title {
  font-size: 24px;
  font-weight: 600;
  color: #638cf6;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-header {
  background-color: #e6e8fa;
  padding: 24px 0;
}

.hero {
  background-color: #e6e8fa;
  width: 100%;
  padding: 14px 0px 87px;

  &__content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
  }

  &__text {
    font-size: 50px;
    max-width: 780px;
    text-align: left;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
  }
}

.colors {
  &__primary_dark {
    color: #638cf6;
  }

  &__secondary_dark {
    color: #7fd1ae;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
  padding: 15px 0;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 44px 0;
  background-color: #e6e8fa;
}

.section {
  &__title {
    display: inline-flex;
    text-transform: uppercase;
    position: relative;
    margin-top: 64px;
    margin-bottom: 16px;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
  }

  &__table {
    p {
      margin: 0 0 10px;

      @media (max-width: 952px) {
        margin-bottom: 30px;
      }
    }
  }
}

.text__small {
  font-size: 12px;
  font-weight: 200;
  color: #828494;
}

.grid {
  display: grid;
  align-items: stretch;
  grid-template-columns: 1.2fr 2.5fr;
  grid-gap: 32px;
  align-items: start;

  @media (max-width: 952px) {
    display: flex;
    flex-direction: column;
  }
}

.row {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;

  &__title {
    a {
      transition: 0.2s;
      font-size: 22px;
      position: relative;

      &:hover::before {
        content: "\21A5";
        color: #638cf6;
        position: absolute;
        left: -0.7em;
        top: 1px;
        transition: 0.2s;
      }
    }

    span {
      font-size: 16px;
      font-weight: 400;
      opacity: 0.8;
    }
  }
  &__date {
    font-size: 14px;
    opacity: 0.8;
  }
  &__text {
    opacity: 0.8;
    margin-top: 16px;
  }

  &__labels {
    display: flex;
    flex-wrap: wrap;
    padding-top: 16px;
  }
}

.label {
  position: relative;
  line-height: 1.5em;
  font-weight: bold;
  margin-right: 8px;
  padding: 3px 12px;
  border-radius: 5px;
  font-size: 12px;
  color: #638cf6;
  background-color: #e6e8fa;
}
